html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #e7e5e5;
}

.page-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 800px;
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid black;
    gap: 16px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 64px;
}

.header-left {
    display: flex;
    width: 100%;
}

.header-counters {
    display: flex;
    gap: 32px;
}

.header-left button {
    font-size: 20px;
    width: 400px;
    padding: 16px 32px;
    background: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid orange;
    border-radius: 8px;
}

.header-left button:hover {
    cursor: pointer;
    background-color: rgb(250, 179, 46);
    border: 1px solid rgb(250, 179, 46);
}

.quiz-view {
    display: flex;
    width: 100%;
    gap: 8px;
}
