html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #e7e5e5;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 364px;
    background: white;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid black;
}

.header-counters {
    display: flex;
    gap: 16px;
}
